<div class="blog-post">
    <h2 class="blog-post-title">Built Environment</h2>
    <p>We deliver sustainable solutions for the built environment. By encompassing renewable energy, building services, lighting design and thermal modelling from project inception to completion, we create integrated designs to your specifications.</p>
    <p>We have worked on projects such as bespoke designs for PassivHaus, creating buildings with a negligible carbon footprint, without compromise on comfort and design. Be it new build or retro-fit we can help make your building as sustainable as possible.</p>
    <p></p>
</div>