<div class="blog-post">
    <h2 class="blog-post-title">Data Science & Modelling</h2>
    <p>With Oil & Gas often being considered as the original 'big data' industry, building on this experience JA Professional Services can bring actionable insights to your data in the wider energy industry.</p>
    <p>Our experts have knowledge in the latest machine and deep learning techniques. Whether it's creating forecasts for renewable assets, developing an analytics platform for smart meters or using SCADA data to predict future downtime, we can help you.</p>
    <p></p>
</div>