<div class="blog-post">
    <h2 class="blog-post-title">Cost & Market Analysis</h2>
    <p>We can inform your strategic and operational decisions using our proprietary models, allowing you to quantify investment risks and project asset returns in the evolving energy industry.</p>
    <p>Bringing together industrial and academic expertise, our team can help bring clarity in an uncertain energy landscape. Our previous projects have included predicting the effect of increased renewables on the UK day-ahead and intra-day markets, and running life cycle cost analysis on renewable assets.</p>
</div>