<div class="blog-post">
    <h2 class="blog-post-title">Oil & Gas</h2>
    <p>We have over 30 years of experience working in on and off-shore projects for Oil & Gas, both in the UK/North Sea and internationally.</p>
    <p>Our expertise lies in a wide range of areas including design (incorporating control and safety systems), contract and commercial support, project management and market analyses.</p>
    <p>Please contact us to find out more about how we can help you.</p>
</div>