<div class="blog-post">
    <h2 class="blog-post-title">Renewables</h2>
    <p>At JA Professional Services we're helping companies lead the way in the transition to a low carbon economy. Whether it's an established or emerging technology we can match you with one of our experts in solar energy, electricity storage, offshore wind, onshore wind, and wave power.</p>
    <p>We've been part of the sector as it's moved from feasibilty analysis to established projects. We can help advise on the challenges encountered and reduce costs of exisiting assets as the industry moves towards being subsidy free.</p>
</div>