<div class="p-3 mb-3 bg-light rounded">
<h4 class="font-italic">Sectors</h4>
<ul class="list-unstyled mb-0">
    <li><a href="/sectors#oil_and_gas">Oil & Gas</a></li>
    <li><a href="/sectors#renewables">Renewables</a></li>
    <li><a href="/sectors#built_environment">Built Environment</a></li>
</ul>
<br>
<h4 class="font-italic">Services</h4>
<ul class="list-unstyled mb-0">
    <li><a href="/services#project_management">Project Management</a></li>
    <li><a href="/services#technical_studies">Technical Studies</a></li>
    <li><a href="/services#o_and_m">Operation & Maintenance</a></li>
    <li><a href="/services#market_analysis">Cost & Market Analysis</a></li>
    <li><a href="/services#data_science">Data Science & Modelling</a></li>
</ul>
</div>