<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>JA Professional Services</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <link rel="stylesheet" href="/src/css/bootstrap.css">
        <link rel="stylesheet" href="/src/css/style.css">

        <link rel="icon" href="/src/img/favicon.ico" />
        <!-- <link rel="stylesheet" href="/css/mdb.css"> -->
    </head>

    <body>

        <div class="container">
            <% include ../components/navbar %>

            <!-- Jumbotron Section -->
            <div class="jumbotron energy_bkgd">
                
                <h1 class="display-4 white_txt">Independent. Experienced. Professional.</h1>
                <p class="lead white_txt">JA Professional Services are an independent consultancy specialising in energy across the renewable and oil & gas sectors, bringing over 30 years of industry experience. </p>
            
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#AboutUs" role="button">Learn more</a> <!-- Have this going to the about page -->
                </p>
            </div>

            <!-- Sectors & Services Cards -->
            <div class="center-div">
                <h3 class="red_txt underline_wide text-center">Sectors</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Oil & Gas</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">Over 30 years of experience in onshore and offshore projects, find out how we can assist your company</p>
                            <a href="/sectors#oil_and_gas" <i class="fa fa-tint" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Renewables</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">Working across the sector with an extensive knowledge of wind and solar energy, discover how we can work with you to create a greener future</p>
                            <a href="/sectors#renewables" <i class="fa fa-sun-o" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Built Environment</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">From the initial concept to detailed design, we can guide you through the whole project with our insights and experience</p>
                            <a href="/sectors#built_environment" <i class="fa fa-home" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <div class="center-div">
                <h3 class="red_txt underline_wide text-center">Services</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Project Management</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">At JA Professional Services we make it our priority to deliver your project to your specific requirements on time and to budget</p>
                            <a href="/services#project_management" <i class="fa fa-briefcase" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Technical Studies</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">With a broad portfolio of project experience to draw upon, we provide extensive independent technical services</p>
                            <a href="/services#technical_studies" <i class="fa fa-book" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Operation & Maintenance</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">Working across a project's lifecycle, we help maximise your asset's potential using bespoke systems and expertise</p>
                            <a href="/services#o_and_m" <i class="fa fa-wrench" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-0 col-md-2">
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Cost & Market Analysis</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">We can provide detailed financial assessments and analytical insights to give your company a competetive edge</p>
                            <a href="/services#market_analysis" <i class="fas fa-chart-bar" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="card mb-4 no_border card-hover">
                        <div class="card-body text-center">
                            <h5 class="card-title red_txt bold_txt">Data Science & Modelling</h5>
                            <p class="card-text text-left bold_txt grey_txt text-center">Using cutting edge machine learning techniques and algorithms, our experts make sense out of your big data</p>
                            <a href="/services#data_science" <i class="fas fa-atom" style="font-size:50px;" aria-hidden="true"></i> </a>
                        </div>
                    </div>
                </div>
            </div>

            

            <br>
            <!-- Extra Section -->
            <!-- Change to image as background image not an image card -->
            <div class="testimonial_bkgd">
                <div class="row">
                    <div class="col">
                        <div class="card testimonial_bkgd rounded no_border bg-dark">
                            <div class="card-body white_txt text-center">
                                <br>
                                <!-- <blockquote class="blockquote"> -->
                                
                                <h2><b>Quality engineering solutions you can trust in</b></h2>
                                
                                <!-- </blockquote> -->
                                <br>
                                <!-- <img src="img/water_grey.jpg" class="img-fluid" alt="Responsive image"> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br>
            <br>
            <div class="row mt-sm-4 mt-md-0">
                <div class="col-sm-12 col-md-12 text-sm-center text-md-left">
                    <a name="AboutUs"></a> 
                    <h3 class="red_txt underline_wide text-center center-div">About Us</h3>
                    <br>
                    <p class="lead">JA Professional Services provides quality consultancy services across the energy industry. Whether you work in renewables or with oil & gas we can assist in project management, engineering, technical studies and more, adapting to your needs and challenges.</p>
                    <p class="lead">We create design and engineering solutions that combine reliability and large industrial experience with the latest in environmental best practices.</p>
                </div>
            </div>

            <br>

            <% include ../components/contact_us %> 
                    

        </div>

        <!-- JS is at the bottom to ensure content loads first -->
        <script src="/src/js/jquery.min.js"></script>
        <script src="/src/js/popper.min.js"></script>
        <script src="/src/js/bootstrap.min.js"></script>
        <script src="/src/js/japs_site.js"></script>
    </body>

    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href=#> JAProfessionalServices.com</a>
        </div>
      
      </footer>

</html>