<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <title>JA Professional Services</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,800">
        <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../src/css/bootstrap.css">
        <link rel="stylesheet" href="../../src/css/style.css">

        <link rel="icon" href="/src/img/favicon.ico" />
        <!-- <link rel="stylesheet" href="/css/mdb.css"> -->
    </head>

    <body>

        <div class="container">
            <% include ../components/navbar %>
            
            <div class="jumbotron wind_bkgd">
                
                <h1 class="display-4 white_txt">Sectors</h1>
                <p class="lead white_txt"><b>We work across the energy industry, bringing a holistic approach to all projects</b></p>
        
            </div>

            <br>
            <main role="main" class="container">
                <div class="row">
                  <div class="col-md-8 blog-main">  
                    <a name="renewables"></a>  
                    <% include ../components/sectors_and_services/renewables %> 
                    <br>    
                    <a name="oil_and_gas"></a>       
                    <% include ../components/sectors_and_services/oil_and_gas %> 
                    <br>  
                    <a name="built_environment"></a>  
                    <% include ../components/sectors_and_services/built_environment %> 
                </div>

                <aside class="col-md-4 blog-sidebar">
                    <% include ../components/sectors_and_services/s_and_s_sidebar %> 
                </aside>
            </main>

            <br>
            <br>
            <% include ../components/contact_us %> 
                    

        </div>

        <!-- JS is at the bottom to ensure content loads first -->
        <script src="../../src/js/jquery.min.js"></script>
        <script src="../../src/js/popper.min.js"></script>
        <script src="../../src/js/bootstrap.min.js"></script>
        <script src="../../src/js/japs_site.js"></script>
    </body>

    <footer class="page-footer font-small blue">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
          <a href=#> JAProfessionalServices.com</a>
        </div>
      
      </footer>

</html>